$textColor: #464646;
$primaryColor: #2e92fa;
$hoverColor: #004c97;
$borderColor: #dcdcdc;
$lightBg: #dcdcdc;
$darkBg: #c5c5c5;
$normalBg: #e6e6e6;
$white: #fff;
$primaryHoverColor: #0c74da;

$primaryBorderColor: #c8c8c8;
$primaryBgColor: #f0f0f0;
$bgColor-1: #f5f5f5;
$bgColor-2: #f8f8f8;
$bgColor-3: #fafafa;
$activeBorderColor: #2e92fa;
$activeBgColor: #ebf5fd;
$primaryTextColor: #464646;
$activeTextColor: #004c97;
$borderBottomColor: #e8e8e8;
$deepGray: #8c8c8c;

$shadowColor: rgba(220, 220, 220, 0.5);

$animationDuration: 0.2s;
//////////////////////////////////////////////
$blue: #2e92fa;
$light-blue: #0296e0;
$border: #c8c8c8;
$light-border: #dcdcdc;
$icon: #8c8c8c;
$dark: #464646;
$white: #fff;
$green: #2a8b4b;
$red: #f03040;
$orange: #ff7300;
$panel-bg: #fafafa;

//文字大小
$fs-h1: 18px;
$fs-h2: 16px;
$fs-content: 14px;
$fs-sub: 12px;

// padding大小
$padding24: 24px;
// $paddingBody: 40px;
// 按钮中加号+和文字得距离
$btnPaddingRight: 6px;
@mixin flex {
  display: flex;
  justify-content: space-between;
}

$baseSize:12px;
$bg: #fff;
$bg_blue:#0747A6;
$bg_blue_deep:#0a3475;
$bg_blue_light:#f2f6fa;
// 导航区
$logo_width:200px;
$nav_height:40px;
$nav_item_width:130px;
$nav_background:#0747A6;
$nav_fontSize:16px;
// 左侧操作区
$handle_width:170px;